{% extends "partials/base.html" %}
{% load static %}

{% block content %}
<main id="main">
  <section id="about">
    <div class="container">
      <header class="section-header text-center">
        <h3>Bookkeeping</h3>
        <p>
          Bookkeeping is a crucial element of business accounting, involving a substantial project that requires time and expertise.
        </p>
      </header>
      <div class="row">
        <div class="col-md-8">
          <p>
            Our objective is to relieve businesses of the responsibility of managing payroll and bank reconciliations, allowing them to concentrate on growth. We offer comprehensive support for all bookkeeping requirements, from recruiting employees to producing financial reports.
          </p>
          <p>
            Our team of skilled accountants at BRCA Consultancy develops personalized bookkeeping packages to suit your specific needs. From overseeing your company’s accounts to managing payroll, we deliver outsourced bookkeeping services at competitive rates. Trust BRCA Consultancy to protect your sensitive business data, ensuring maximum privacy and security.
          </p>
          <p>
            Collaborate with BRCA Consultancy today for exceptional outsourced bookkeeping services, empowering your business to excel in the ever-changing marketplace.
          </p>
        </div>
        <div class="col-md-4">
          <img src="{% static 'img/book.png' %}" alt="Audit" class="img-fluid blended-image">
        </div>
      </div>
    </div>
    <div class="content-section">
      <div class="container">
        <header class="section-header text-center">
          <h3>Finance & Accounting Solutions</h3>
        </header>
        <div class="row">
          <div class="col-md-12">
            <h4>At BRCA, we offer a comprehensive range of finance and accounting support services covering the entire finance value chain.</h4>
            <p>Our specialized Finance & Accounting solutions encompass:</p>
            <ul>
              <li>Implementation of accounting systems like QuickBooks, Tally, SAP, and Xero, tailored to your specific requirements.</li>
              <li>Development of charts of accounts aligned with your reporting needs to ensure precise financial tracking.</li>
              <li>Preparation of annual and periodic financial statements in accordance with International Financial Reporting Standards (IFRS), ensuring regulatory compliance.</li>
              <li>Design and implementation of reporting mechanisms to facilitate effective management decision-making and enhance operational efficiency.</li>
              <li>Establishment and management of fixed assets registers to optimize asset tracking and management.</li>
              <li>Management of accounts receivable and payable processes to streamline cash flow and liquidity management.</li>
              <li>Analysis and processing of firm/employee expenses on a periodic basis, culminating in comprehensive reports for informed decision-making.</li>
            </ul>
            <p>Choose BRCA for tailored finance and accounting solutions designed to streamline operations and drive business success.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
