{% extends "partials/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!-- Load bootstrap tags -->

{% block content %}
<main id="main">
  <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="section-bg wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h3>Contact Us</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>
      <div class="row contact-info">
        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
            <address>3rd Floor OPTP, Spring North, Bahria Phase 7</address>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="mailto:info@example.com">info@example.com</a></p>
          </div>
        </div>
      </div>
      <div class="form">
        <div>
          {% if form.errors %}
          <div class="alert alert-danger">
            {{ form.errors }}
          </div>
          {% endif %}
          <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-success btn-block" type="submit" value="Add Reviews">
        </form>
        </div>
      </div>
    </div>
  </section><!-- #contact -->
</main>
{% endblock content %}
